# Prerequisites
*.d

# old text editor files
*~

# Qt created files
moc*

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# QT
uqFEM.pro.user

# application
*.tmp
*.out
*.json

Makefile
Code/Qt/Example1/Example1.pro.user
Code/Qt/.DS_Store
*.stash
Code/Qt/Example1/.DS_Store
Code/Qt/Example2/.DS_Store
Code/Qt/Example2/Example2.pro.user
Code/Qt/Exercise2/Exercise2.pro.user
Code/Qt/Exercise3/.DS_Store
Code/Qt/Exercise4/.DS_Store
Code/Qt/Exercise4/Exercise4.pro.user
Code/Qt/Exercise5/.DS_Store
Code/Qt/Exercise5/Exercise5.pro.user
Code/Qt/Exercise6/Exercise6.pro.user
Code/Qt/Exercise6/.DS_Store
Code/Qt/Exercise3/Exercise3.pro.user
